* {
    margin: 0;
    padding: 0;
}

.info {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 0.6em;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 251, 0);
    margin: 0;
    padding: 0;
}

.metronome {
    text-align: center;
    max-width: 375px;
    margin: 0 auto;
    padding: 30px;
}

.bpmslider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2vh;
}

.bpmslider_display {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 1vh;
    font-size: 1.4em;
}

.bpmslider_range {
    width: 100%;
    cursor: pointer;
}

.metronome_btn {
    background: #c94d46;
    padding: 10px;
    border: 1px solid #832420;
    border-radius: 2px;
    width: 100px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: #c94d46;
    }
}